.image_main{
    width: 80%;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 120px;
  
    
  }
  .sign{
    width: 129px;
    height: 100px;
margin-left: 20%;
margin-top: 20%;

/* padding: 10px 24px; */

/* border: 1px solid #5D20D2; */

  }
  .sign1{
    color: #5D20D2;   color: #5D20D2;
    border: 1px solid #5D20D2;
border-radius: 29px;

  }
    .sign2{
        color: #5D20D2;
    border: 1px solid #5D20D2;
border-radius: 29px;
margin-top: 20px;

  }
  .image_main> div {
    width: 100%;
    height: 280px;
    border: 1px solid blue;
  }
  .img1social{
    width: 80%;
    height: 70%;
  }
    .img1social1{
    width: 80%;
    height: 70%;
    background-color: 
    #EFE9FA;
  }
  .tarz{
    padding-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* width: 300px; */
    height: 100%;
    margin: auto;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
   
  }
  .p_txt{
  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
  }
  .h2helppossible{
    text-align: center;
  }
  @media screen and (max-width: 720px) {
  .f2{
    font-family: 'PlutoSansW04-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  
  }
  .sign{
    width: 129px;
    height: 100px;
margin-top: 20%;


  }
  .future1{
    width: 50%;
    height: 80px;
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
    font-weight: bold;
  font-size: 30px;
  }
  .span1t{
    color: #5D20D2;
  }
}
  @media only screen and (max-width: 800px) {
    .h2helppossible{
      font-size: 10px;
      text-align: center;
      margin-right: 10px;
  
      padding: auto;
      /* padding-right: 30px; */
    }
    
  }
  @media screen and (max-width: 320px) {
   .tarz { font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
    }
    .image_main{
        margin-left: 10px;
        width: 100%;
        height: 100%s;
    }
      .sign{
    width: 60px;
    height: 100px;
/* margin-left: 30%; */
margin-top: 60%;

margin-right: 40%;
/* border: 1px solid #5D20D2; */

  }
   .sign1{
    color: #5D20D2; 

    border: 1px solid #5D20D2;
border-radius: 29px;

  }
    .sign2{
        color: #5D20D2;
    border: 1px solid #5D20D2;
border-radius: 29px;
margin-top: 20px;

  }
  .p_txt{
    font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
    
  }


  }

     