.getInTouch_main {
    background-color: #D8D1E3;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.getInTouch_left {
    margin-right: 20%;
}

.getInTouch_left .left_div1 {
    font-size: 30px;
    margin-bottom: 5%;
}

.getInTouch_left .left_div1 h1 strong {
    color: #5D20D2;
}

.getInTouch_left .left_div2 {
    font-size: 18px;
    margin-bottom: 10%;
}

.getInTouch_left .left_div3 {
    width: 150px;
    height: 40px;
    border: 2px solid #5D20D2;
    text-align: center;
    border-radius: 35px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding-top: 5px;
    box-sizing: border-box;
    background: #5D20D2;
}

.getInTouch_right .right_input1 {
    display: flex;
}

.getInTouch_right .right_input1 {
    width: 493px;
    height: 60px;
    border-radius: 6px;
    background: white;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

.getInTouch_right .right_input1 img {
    width: 40px;
    height: 40px;
    margin: 7px 10px 0px 10px;
}


.getInTouch_right .right_input1 input {
    width: 250px;
    height: 29px;
    border: none;
    font-size: 15px;
    margin-top: 12px;
}

@media screen and (max-width: 720px) {
    .getInTouch_main {
        display: block;
        height: 100vh;
    }

    .left_div1, .left_div2 {
        text-align: center;
    }

    .getInTouch_left .left_div3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


    .getInTouch_left {
        margin-right: 0px;
    }

    .getInTouch_right {
        margin: 10px 0px 10px 0px;
        padding: 10px;
    }

    .right_input1 {
        width: 100% !important
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .getInTouch_main {
        height: 100vh;
        padding: 10px;
    }

    .getInTouch_left {
        margin-right: 2%;
    }

    .right_input1 {
        width: 400px;
    }
}