*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginLangdingContainer{
    height: 100vh;
    background-color: #313342;
}

.loginLandingLeftSideLogo{
    text-align: center;
    vertical-align: top;
    width: 35%;
    height: 100%;
    background-color: #3d88cc;
    font-family:sans-serif;
    position: relative;
    display: inline-block;
}

.imageLogo{
    margin-top: 50%;
}



/* right */

.loginLandingRihgt{
    background-color: #313342;
    border: 1px solid red;
    width: 65%;
    height: 100%;
    color: white;
    align-items: center;
    text-align: center;
    display: inline-block;
}

.loginLandingContentBox{
    position: relative;
    top: 15%;
    height: 80%;
}
 .loginLandingContentBox button{
    border: 1px solid #545a68;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    width: 20rem;
    flex-grow: 1;
    font-size: .938rem;
    line-height: .25rem;
    position: relative;;
    background-color: #313342;
    color: white;
 }

 .loginLandingContentBox img{
   width:1.5em;
   height:1.5em ;
   display: inline-block;
   margin: 5px ;
 
 }


 .footer{

 margin-top: 80px;
 }

 
 .backButtonIcon{
    background-color: #313342;
    border: none;
    outline: none;
    color: white;
    position: relative;
    top: 30px;
    font-size: 30px;
    left: 10px;
    float: left;
    cursor: pointer;
}

.headerWithBackButton{
    position: relative;
    height: 100px;
}


.inputemail{
    width: 40%;
    height: 55px;
    outline: none;
    text-align: center;
    color: #ffff;
    background-color: #313342;
    border-left: none;
    border-right: none;
    border-top: 1px solid #545a68;
    border-bottom: 1px solid #545a68;
}
::placeholder{
    text-align: center;
    font-size: larger;
}
#nextButtonOnSignup{
    height: 35px;
    border-radius: 50px;
    background-color: #545967;
    border: none;
    margin: auto;
    outline: none;
    width: 30%;
}
.backButton{
    background-color: #313342;
    border: none;
    color: white;
    font-weight:lighter ;
    float: left;
    position: relative;
    top: 25px;
    font-size: 25px;
    left: 10px;
    float: left;
    cursor: pointer;
    
}
@media (min-width: 300px) and (max-width: 820px)  {
       .loginLandingLeftSideLogo{
           display: none;
       }
       .loginLandingRihgt{
        width: 100%;
       }
     }
 @media (max-height: 280px), screen and (orientation: portrait){
        .loginLandingLeftSideLogo{
            display: none;
        }
        .loginLandingRihgt{
         width: 100%;
        }
        .loginLandingContentBox button{
            width: 90%;
         }

     }