.man {
    background-color: white;
    color: #212121;
}

.darkAbout {
    background-color: #121212;
    color: #f2eaea;
}

.mainDiv {
    width: 72%;
    height: 110px;
    margin: auto;
    border: 1px solid transparent;
    padding-top: 50px;
}

.scndDiv {
    height: 230px;
    width: 72%;
    margin: auto;
}

.thirdDiv {
    height: 400px;
    margin: auto;
    width: 72%;
}

.lastDiv {
    height: 700px;
    margin: auto;
    width: 72%;
    border: 1px solid transparent;
}